.git
.github
.idea
.vscode
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
*.log
.env
.env.*
!.env.example
docker-compose.override.yml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
